/* startvar */
:root {
    --main-color: #19c8fa;
    --trans-color: rgb(15 116 174 / 65%)
}

/* endvar */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style: none;
    text-decoration: none;
}

.section {
    padding: 100px;
}

.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background-color: #333;
    bottom: -30px;
    width: 120px;
    height: 2px;

}

.main-heading h2::after {
    content: " ";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;
}

.main-heading p {
    margin: 0 auto 100px;
    width: 550px;
    max-width: 100%;
    color: #777;
    line-height: 2;
}

header {
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
}

header i {
    color: white;
    position: absolute;
    font-size: 20px;
    transform: translateY(-50%);
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    margin-left: 10px;
}



header .continer {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    min-height: 97px;
}

hr {
    background-color: white;
}

img {
    height: 30px;
}

nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    display: flex;

}

@media (max-width:767px) {
    ul li {
        display: none;
    }

    ul+li:hover {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        background-color: rgb(0, 0, 0 / 50%);
        width: 100%;
    }
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: white;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    font-size: 15px;
    padding: 40px 10px;
}

nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
.form {
    width: 40px;
    height: 30px;
    position: relative;
    border-left: 1px solid white;
    margin-left: 10px;

}
.menu {
    color: white;
    font-size: 22px;
    margin-right: 60px;

}
@media(min-width:768px) {
    .menu {
        display: none;
    }
}
/* startlanding */
.landing {
    min-height: 100vh;
    background-image: url(https://th.bing.com/th/id/OIP.zjs9KfdaQYN99xKfR2USigHaEK?pid=ImgDet&rs=1);
    background-size: cover;
    position: relative;
}

.landing .overly {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    padding: 40px;
    background-color: var(--trans-color);
    width: 50%;
    color: white;
    display: flex;
    justify-content: flex-end;
}

.landing .text .content {
    max-width: 500px;
}

@media(max-width:768px) {
    .landing .text {
        width: 100%;
    }

    .landing .text .content {
        max-width: 100%;
    }

}

.landing .text h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 30px;
}

.landing .text p {
    font-size: 15px;
    line-height: 1.6;
}

.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: #ddd;
}

@media(max-width:768px) {
    .landing .change-background {
        display: none;
    }
}

.landing .fa-angle-left {
    left: 30px;
}

.landing .fa-angle-right {
    right: 30px;
}

.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}

.landing .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}

.landing .bullets .active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

/* endlanding */
/* start services */
.services {
    padding-top: 100px;
    padding-bottom: 100px;
}

@media(min-width:768px) {
    .services .services-continer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }
}

.srv-box {
    display: flex;
}

.srv-box i {
    margin-right: 50px;
}

@media(max-width:767px) {
    .srv-box {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .srv-box i {
        margin: 0 0 30px;
    }
}

.srv-box h3 {
    color: var(--main-color);
    margin-bottom: 30px;
}

.srv-box p {
    line-height: 2;
    color: #777;
}

/* end services */
/* start design */
.design {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 600px;
    position: relative;
    background-image: url(https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/design-features.jpg);
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.design::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);

}

.design .image,
.design .text {
    z-index: 2;
    position: relative;
    flex: 1;
}

.design .image {
    text-align: center;
}

@media(max-width:767px) {
    .design .image {
        display: none;
    }
}

.design img {
    bottom: -130px;
    height: 100%;
    position: relative;
}

.design .text {
    padding: 50px;
    background-color: var(--trans-color);

}

.design .text li {
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 25px;
}

.design .text li::before {
    font-family: "Font Awesome 5 Free ";

    font-weight: 900;
}

.design h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
}

/* end design */
/* start-portifilo */
.portifilo {
    padding-top: 100px;
    padding-bottom: 100px;
}

.portifilo .shuffles {
    display: flex;
    justify-content: center;
}

.portifilo .shuffles li {
    padding: 10px;
}

.portifilo ul .active {
    background-color: var(--main-color);
    color: white;
}

.portifilo .img-con {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;

}

.portifilo .img-con .box {
    position: relative;
    overflow: hidden;
}

.portifilo .img-con .box:hover .caption {
    bottom: 0;

}

.portifilo .img-con .box:hover img {
    transform: rotate(3deg) scale(1.1);
    -webkit-transform: rotate(3deg) scale(1.1);
    -moz-transform: rotate(3deg) scale(1.1);
    -ms-transform: rotate(3deg) scale(1.1);
    -o-transform: rotate(3deg) scale(1.1);
}

@media(min-width:767px) {
    .portifilo .img-con .box {
        flex-basis: 50%;
    }
}

@media(min-width:1199px) {
    .portifilo .img-con .box {
        flex-basis: 25%;
    }
}

.portifilo .img-con .box img {
    max-width: 100%;
    width: 100%;
    height: 50%;
    margin-bottom: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.portifilo .img-con .box .caption {
    position: absolute;
    bottom: -100%;
    background-color: white;
    left: 0;
    padding: 20px;
    transition: 0.3s;
}

.caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
}

.caption p {
    color: var(--main-color);
}

.portifilo a {
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
    margin: 30px auto;
    width: fit-content;
    padding: 15px 20px;
    display: block;
}

/* end-portifilo */
/* start video */
.video {
    position: relative;
}

.video::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.video video {
    width: 100%;

}

.video .text {
    padding: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background-color: var(--trans-color);
    color: white;
    text-align: center;
    width: 100%;
}

.video h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 30px;
}

.video p {
    margin: 30px;

}

.video button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
}

/* end video */
/* start about */
.about {
    padding-top: 100px;
    overflow: hidden;
    text-align: center;
}

.about img {
    height: 100%;
    position: relative;
    bottom: -120px;
    margin-top: -120px;
}

@media(max-width:767px) {
    .about img {
        display: none;
    }
}

/* end about */
/* start sta */
.sta {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background-image: url("../img/stats.png");
    background-size: cover;
    position: relative;

}

.sta::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.sta .continer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.sta .continer .box {
    color: white;
    padding: 50px;
    background-color: var(--trans-color);


}

@media (max-width:767px) {
    .sta .continer .box {
        flex-basis: 100%;
        margin-top: 10px;

    }
}

@media (min-width:767px) {
    .sta .continer .box {
        flex-basis: 50%;
        margin-left: 10px;
        margin-bottom: 10px;


    }
}

.sta .continer .box i {
    width: 40px;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
}

.sta .continer .box .number {
    font-size: 50px;
    font-weight: bold;
    margin: 0 auto;
}

.sta .continer .box p {
    font-size: 14px;
}

/* end sta */
/* start skills */
.skills {
    padding-top: 100px;
    padding-bottom: 100px;
}

.skills .continer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media(min-width:992px) {
    .skills .continer>div {
        flex-basis: 45%;

    }
}

.skills .continer>div>h3 {
    margin: 0 0 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;

}

.skills .continer>div>p {
    line-height: 2;
    color: #777;
    text-align: center;
    margin-bottom: 60px;
}

.skills img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 50px;
}

.skills .test .content {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

@media (max-width:767px) {
    .skills img {
        margin: 0 auto 20px;
    }

    .skills .test .content {
        flex-direction: column;
        text-align: center;
    }
}

.skills .test .text {
    line-height: 2;
    border-bottom: 1px solid #ccc;
}

.skills .test .text p {
    font-size: 14px;
    color: #777;
    text-align: right;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.skills .test .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.skills .test .bullets li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #aaa;
    margin-right: 10px;
}

.skills .test .bullets .active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.skills .our-skills .prog-hold {
    margin-bottom: 40px;
}

.skills .our-skills .prog-hold h4 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
}

.skills .our-skills .prog-hold .prog {
    height: 30px;
    background-color: gray;
}

.skills .our-skills .prog-hold .prog span {
    display: block;
    height: 30px;
    background-color: var(--main-color);
    position: relative;
}

.skills .our-skills .prog-hold .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -40px;
    right: -18px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
}

.skills .our-skills .prog-hold .prog span::after {
    content: " ";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent;
    right: -8px;
    top: -15px;
}

/* end skills */
/* start qoute */
.quote {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../img/quote.jpg");
    position: relative;
    background-size: cover;
    text-align: center;
    color: white;
}

.quote::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 75%);
    width: 100%;
    height: 100%;
}

.quote .continer {
    position: relative;
}

.quote q {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}

/* end qoute */
/* start pricing */
.pricing {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.pricing .plans .plan {
    background-color: #fcfcfc;
    text-align: center;

}

.pricing .plans .plan .head {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan .head h3 {
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.pricing .plans .plan .head span {
    font-size: 30px;
    font-weight: bold;
}

.pricing .plans .plan .head span::before {
    content: "$";
    content: "$";
    font-size: 20px;
    font-weight: normal;
    position: relative;
    top: -30px;
    margin-right: 15px;
}

.pricing .plans .plan .head span::after {
    content: "/Mo";
    font-size: 20px;
    position: relative;
    right: -15px;
}

.pricing .plans ul {
    border-bottom: 1px solid var(--main-color);
}

.pricing .plans ul li {
    padding: 20px;
    position: relative;
}

.pricing .plans ul li:not(:last-child)::after {
    content: " ";
    width: 120px;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    bottom: 0;
}

.pricing .foot a {
    text-decoration: none;
    border: 1px solid var(--main-color);
    display: block;
    padding: 20px 20px;
    width: fit-content;
    margin: 30px auto;
}

.pricing .contact-us {
    text-align: center;
    margin: 50px auto 20px;
    font-size: 20px;

}

.pricing .contact-link {
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: var(--main-color);
    text-decoration: none;
    color: white;
    padding: 15px 30px;
}

/* end pricing */
/* start subr */
.sub {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../img/subscribe.jpg");
    background-size: cover;
    position: relative;
    color: white;

}

.sub::before {
    content: " ";
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    position: absolute;
    top: 0;
    left: 0;

}

.sub .continer {
    position: relative;
    display: flex;
    align-items: center;
}

@media (max-width:991px) {
    .sub .continer {
        flex-direction: column;
    }
}

.sub form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;

}

.sub form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    left: 25px;
}

.sub form input[type="email"] {
    width: calc(100% - 130px);
    background: none;
    border-right: none;
    padding: 20px 20px 20px 60px;
    border: 1px solid white;
    caret-color: var(--main-color);
    color: white;
}

.sub input[type="submit"] {
    width: 130px;
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    text-transform: uppercase;
    border-left: none;
}

.sub form ::placeholder {
    color: white;
}

.sub p {
    line-height: 2;
    margin-left: 50px;
}

@media(max-width:991px) {
    .sub p {
        flex-direction: column;
        margin: 30px 0 0;
    }
}

/* end subr */
/* start contact */
.contact {
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact .content {
    display: flex;
    justify-content: space-between;

}

@media(max-width:767px) {
    .contact .content {
        flex-direction: column;
    }
}

.contact .content form {
    flex-basis: 70%;

}

.contact .content form .main-input {
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
}

.contact .content form .main-input:focus {
    outline: none;
}

.contact .content form textarea {
    height: 200px;
}

.contact .content form input[type="submit"] {
    color: white;
    background-color: var(--main-color);
    padding: 20px;
    border: none;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
}

.contact .info {
    flex-basis: 25%;
}

.contact .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 20px;
}

.contact .info .phone {
    display: block;
    color: #777;
    margin-bottom: 10px;

}

.contact .info h4:nth-of-type(2) {
    margin-top: 100px;
}

.contact .info address {
    color: #777;
    line-height: 2;

}

/* end contact */
/* start footer */
.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../img/subscribe.jpg");
    text-align: center;
    background-size: cover;
    color: white;
    position: relative;
}

.footer::before {
    content: " ";
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    position: absolute;
    top: 0;
    left: 0;
}

.footer .continer {
    position: relative;
}

.footer img {
    margin-bottom: 20px;
}

.footer p:not(.copyright) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 20px;
    width: fit-content;
    margin: 20px auto;
}

.footer i {
    padding: 10px 15px;
}

.footer .copyright {
    margin-top: 60px;
}

.footer .copyright span {
    font-weight: bold;
    color: var(--main-color);
}

/* end footer */